
/*
    Author:                     Horiseon Team
    Document:                   style.css
    Document Refactored By:     William J. Horn
    Date Refactored:            2/13/2022 1:13PM
    Last Modified:              2/13/2022 1:13PM

    ================
    == CHANGE LOG ==
    ================

    ? @info:
    ----------------------------------------------------------------------------------------------------------------------------------
    Change log is recorded with change id, denoted by: #change:xxxx-"description about change". The change id index is recorded
    under "@change-log" and is where all information about the change(s) are stored. Within the document code, a change id is given
    near the sections of code that have been modified. The modified code is wrapped between two comment lines that read:

        THIS    #change:xxxx-"description about change" // BEGIN // 
        AND         ...[[code affected by change]]...
        THIS    #change:xxxx-"description about change" \\ END \\

    note: The current format for this change log is experimental so any feedback on it's efficacy is appreciated :)
    ----------------------------------------------------------------------------------------------------------------------------------

    ? @change-log:
    ----------------------------------------------------------------------------------------------------------------------------------
    * #change:0001-"header class replaced with header selector"
        !-   Removed all ".header" classes and replaced them with the header element selector.
            This was done since the header div was removed in the HTML and replaced with the semantic <header> tag)

    * #change:0002-"removed seo class"
        !-   Removed "seo" class.
            The "seo" class was replaced with the header->h1->span selector. The specificity of the "seo" class was deemed
            unnecessary because it was only used once.

    * #change:0003-"replaced classes with ID"
        !-   Removed the following CSS classes:
                ! .search-engine-optimization
                ! .online-reputation-management
                ! .social-media-marketing

            These CSS classes were replaced by their respective IDs. This was done because these classes were only used once
            in the HTML.
    ----------------------------------------------------------------------------------------------------------------------------------
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* #change:0001-"header class replaced with header selector" // BEGIN // */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* #change:0002-"removed seo class" // BEGIN // */
header h1 span {
    color: #d9dcd6;
}
/* #change:0002-"removed seo class" \\ END \\ */

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* #change:0001-"header class replaced with header selector" \\ END \\ */

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* #change:0003-"replaced classes with ID" // BEGIN // */
#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#search-engine-optimization img {
    max-height: 200px;
}

#online-reputation-management img {
    max-height: 200px;
}

#social-media-marketing img {
    max-height: 200px;
}

#search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* #change:0003-"replaced classes with ID" \\ END \\ */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
