
/*
    Author:                     Horiseon Team
    Document:                   style.css
    Document Refactored By:     William J. Horn
    Date Refactored:            2/13/2022 1:13PM
    Last Modified:              2/18/2022 5:36PM

    ================
    == CHANGE LOG ==
    ================

    ? @info:
    ----------------------------------------------------------------------------------------------------------------------------------
    Change log is recorded with change id, denoted by: #change:xxxx-"description about change". The change id index is recorded
    under "@change-log" and is where all information about the change(s) are stored. Within the document code, a change id is given
    near the sections of code that have been modified. The modified code is wrapped between two comment lines that read:

        THIS    #change:xxxx-"description about change" // BEGIN // 
        AND         ...[[code affected by change]]...
        THIS    #change:xxxx-"description about change" \\ END \\
    ----------------------------------------------------------------------------------------------------------------------------------

    ? @change-log:
    ----------------------------------------------------------------------------------------------------------------------------------
    | Date: 2/15/2022 |
    -------------------

    * #change:0001-"header class replaced with header selector"
        !-   Removed all ".header" becaused it was deemed unnecessary.
            This class has since been replaced with the header element selector. This was done since the header div was removed 
            in the HTML and has been replaced with the semantic <header> tag.

    * #change:0002-"removed seo class"
        !-   Removed ".seo" class.
            The "seo" class was replaced with the header->h1->span selector. The specificity of the "seo" class was deemed
            unnecessary because it was only used once.

    * #change:0003-"replaced classes with element selector"
        !-   Removed the following CSS classes:
                ! .search-engine-optimization
                ! .online-reputation-management
                ! .social-media-marketing
                ! .benefit-lead
                ! .benefit-brand
                ! .benefit-cost

            These CSS classes were replaced with element selectors because they were deemed repetitive and unnecessary.
            All of the classes listed above that were removed contained identical code within their class declarations.

    * #change:0004-"replaced class with footer"
        !-   Removed ".footer" class because it was deemed unnecessary.

            Replaced ".footer" class with the footer element selector to connect with the semantic <footer> tag that now
            exists in the HTML.

    * #change:0005-"updated div to nav"
        -   Replaced header->div with header->nav to accommodate for the change made in the HTML where:
            <header>
                ...
                <div>...</div>
                ...
            </header>

            was changed to:

            <header>
                ...
                <nav>...</nav>
                ...
            </header>

    ----------------------------------------------------------------------------------------------------------------------------------
    | Date: 2/18/2022 |
    -------------------

    * #change:0006-"updated h2 to h4"
        - Updated the "footer h2" selector to "footer h4" due to changes made in the HTML

    ----------------------------------------------------------------------------------------------------------------------------------

    ? @other-changes:
    ----------------------------------------------------------------------------------------------------------------------------------
        -   Added further commenting to explain intention of CSS code 
        -   Re-arranged some of the CSS code blocks to create a more logical grouping of relevant data
    ----------------------------------------------------------------------------------------------------------------------------------
*/

/* Global CSS attributes // BEGIN // */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Global CSS attributes \\ END \\ */




/* First-Order element selectors // BEGIN // */
body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* First-Order element selectors \\ END \\ */




/* Class selectors // BEGIN // */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Class selectors \\ END \\ */




/* Second-Order selectors // BEGIN // */
/* #change:0003-"replaced classes with element selector" // BEGIN // */
.benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Second-Order selectors \\ END \\ */




/* Third-Order selectors // BEGIN // */
.content section img {
    max-height: 200px;
}

.content section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Third-Order selectors \\ END \\ */
/* #change:0003-"replaced classes with element selector" \\ END \\ */




/* #change:0001-"header class replaced with header selector" // BEGIN // */
/* Webpage header settings // BEGIN // */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* #change:0002-"removed seo class" // BEGIN // */
header h1 span {
    color: #d9dcd6;
}
/* #change:0002-"removed seo class" \\ END \\ */

/* #change:0005-"updated div to nav" // BEGIN // */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* #change:0005-"updated div to nav" \\ END \\ */
/* Webpage header settings \\ END \\ */
/* #change:0001-"header class replaced with header selector" \\ END \\ */




/* Webpage footer // BEGIN // */
/* #change:0004-"replaced class with footer" // BEGIN // */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}
/* #change:0004-"replaced class with footer" \\ END \\ */
/* Webpage footer \\ END \\ */

